# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/
bin/

# Logs e temporários
*.log
*.tmp
*.swp
*.swo
*.DS_Store

# Sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini

